# SC1015 Project - Premier League Dataset

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [4]:
resultsData = pd.read_csv('results.csv')
statsData = pd.read_csv('stats.csv')
statsData.head()

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007

In [5]:
statsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 42 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   team                  240 non-null    object
 1   wins                  240 non-null    float64
 2   losses                240 non-null    float64
 3   goals                 240 non-null    float64
 4   total_yel_card        240 non-null    float64
 5   total_red_card        240 non-null    float64
 6   total_scoring_att     240 non-null    float64
 7   ontarget_scoring_att  240 non-null    float64
 8   hit_woodwork          240 non-null    float64
 9   att_hd_goal           240 non-null    float64
 10  att_pen_goal          240 non-null    float64
 11  att_freekick_goal     240 non-null    float64
 12  att_ibox_goal         240 non-null    float64
 13  att_obox_goal         240 non-null    float64
 14  goal_fastbreak        240 non-null    float64
 15  total_offside         240 non-null    float64
 16  clean_sheet           240 non-null    float64
 17  goals_conceded        240 non-null    float64
 18  saves                 220 non-null    float64
 19  outfielder_block      240 non-null    float64
 20  interception          240 non-null    float64
 21  total_tackle          240 non-null    float64
 22  last_man_tackle       240 non-null    float64
 23  total_clearance       240 non-null    float64
 24  head_clearance        220 non-null    float64
 25  own_goals             240 non-null    float64
 26  penalty_conceded      240 non-null    float64
 27  pen_goals_conceded    240 non-null    float64
 28  total_pass            240 non-null    float64
 29  total_through_ball    220 non-null    float64
 30  total_long_balls      240 non-null    float64
 31  backward_pass         160 non-null    float64
 32  total_cross           240 non-null    float64
 33  corner_taken          240 non-null    float64
 34  touches               240 non-null    float64
 35  big_chance_missed     160 non-null    float64
 36  clearance_off_line    240 non-null    float64
 37  dispossessed          220 non-null    float64
 38  penalty_save          240 non-null    float64
 39  total_high_claim      240 non-null    float64
 40  punches               240 non-null    float64
 41  season                240 non-null    object
dtypes: float64(40), object(2)
memory usage: 78.9+ KB

## Total of 42 Columns/Observations in stats.CSV file

### 2 Categorical Variables, 40 Numeric Variables